annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.13.0
build==1.5.0
certifi==2026.2.25
charset-normalizer==3.4.7
click==8.3.2
colorama==0.4.6
coverage==7.13.5
docutils==0.22.4
fastapi==0.135.3
flake8==7.3.0
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
id==1.6.1
idna==3.15
iniconfig==2.3.0
jaraco.classes==3.4.0
jaraco.context==6.1.2
jaraco.functools==4.5.0
keyring==25.7.0
markdown-it-py==4.2.0
mccabe==0.7.0
mdurl==0.1.2
more-itertools==11.0.2
nh3==0.3.5
packaging==26.0
pluggy==1.6.0
pycodestyle==2.14.0
pydantic==2.12.5
pydantic_core==2.41.5
pyflakes==3.4.0
Pygments==2.20.0
PyJWT==2.12.1
pyproject_hooks==1.2.0
pytest==9.0.3
pytest-cov==7.1.0
pywin32-ctypes==0.2.3
readme_renderer==44.0
requests==2.34.2
requests-toolbelt==1.0.0
rfc3986==2.0.0
rich==15.0.0
ruff==0.15.13
setuptools==82.0.1
starlette==1.0.0
twine==6.2.0
typing-inspection==0.4.2
typing_extensions==4.15.0
urllib3==2.7.0
uvicorn==0.44.0
wheel==0.47.0
